* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: azure;
	overflow: hidden;
}

canvas {
	display: block;
}

.info1 {
	display: flex;
	width: 250px;
	height: 150px;
	position: fixed;
	left: 0%;
	top: 0%;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/* background-color: rgba(200, 200, 200, 0.2); */
	font-family: Playwrite, Audiowide, Arial, Helvetica, sans-serif;
	color: rgb(186, 239, 252);
	text-shadow: 0 0 5px rgb(186, 239, 252),
		5px 5px 5px rgb(103, 142, 151);
	font-size: 25px;
}
span {
	display: none;
}
.info1 span {
	width: 100%;
	text-align: left;
	padding-left: 20px;
}

.info2 {
	display: flex;
	width: 250px;
	height: 150px;
	position: fixed;
	left: 0%;
	bottom: 3%;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-family: Playwrite, Audiowide, Arial, Helvetica, sans-serif;
	color: rgb(186, 239, 252);
	text-shadow: 0 0 5px rgb(186, 239, 252),
		5px 5px 5px rgb(103, 142, 151);
	font-size: 25px;
}

.info2 span {
	width: 100%;
	text-align: left;
	padding-left: 20px;
}